<!DOCTYPE html>
<html>
<head>
  <title>Quesiton Bank</title>
  <link rel="stylesheet" type="text/css" href="css/welcome  ">

    <style>
    .question{
      width: 90px;
      height: 90px;
      background-color: #3D9970;
      color: white;
      margin: 10px;
    }

    .details{
      width: 240px;
      margin: 10px;
      background-color: blue;
      color: white;
      float: left;
    }

    .selected{
      border: 2px #01ff70 solid;
    }

    #question{
      width: 120px;
      float: left;
    }
    </style>

</head>
<body>
    <section id="question">
      <article class="quesiton selected">
        <p>What are your hobbies?</p>
      </article>

      <article class="quesiton">
        <p>What languages can you code in?</p>
      </article>

      <article class="question">
        <p>What made you change careers toward web development?</p>
      </article>

    </section>

    <nav id="controls">
      <a href="#" class="previous" data-action="previous">Previous</a>
      <a href="#" class="next" data-action="next">Next</a>
      <a href="login" title="">Login page</a>
      <a href="sign_up" title=""> Sign Up </a>
    </nav>
</body>
</html>
