<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>

    .head {
      float: center;
    }

  </style>
</head>
<body>

    <h1 class="head">Login</h1>

    <label>User Email</label>
    <input type="text" name="user email"></input>


    <label>Password</label>
    <input type="text" name="password"></input>

    <button type="">Submit</button>

</body>
</html>
