<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign up below</h1>

    <form action="/sign_up" method="post" accept-charset="utf-8">

          <label><input type="text" name="firstName" value="">First Name</label> <br>
          <label><input type="text" name="lastName" value="">Last Name</label> <br>
          <label><input type="text" name="github" value="">Github Account</label> <br>
          <label><input type="password" name="password" value="">Password</label> <br>
          <label><input type="text" name="questions" value="">Question to post</label> <br>
          <label><input type="text" name="interviews" value="">Interviews you had</label> <br>
          <label><input type="text" name="companiesInterviewedAt" value="">Companies Interviewed At</label> <br>
          <label><input type="submit" name="" value="submit"></label>

    </form>

<!-- <button type="submit">Submit</button> -->


</body>
</html>
